<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/security
             http://www.springframework.org/schema/security/spring-security-4.2.xsd">


    <http use-expressions="true">
        <intercept-url pattern="/views/pages/admin/**" access="hasAuthority('admin')"/>
        <intercept-url pattern="/views/pages/manager/**" access="hasAnyAuthority('manager','admin')"/>
        <intercept-url pattern="/views/pages/user/**" access="hasAnyAuthority('user', 'manager', 'admin')"/>

        <form-login
            login-page="/login"
            default-target-url="/redirecting"
            authentication-failure-url="/login"
            always-use-default-target="true"/>

        <logout logout-success-url="/login"/>

        <csrf/>
    </http>

    <authentication-manager>
        <authentication-provider ref="provider"/>
    </authentication-manager>

</beans:beans>