<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/security
             http://www.springframework.org/schema/security/spring-security-4.2.xsd">


    <http use-expressions="true">
        <intercept-url pattern="/admin" access="hasAuthority('admin')"/>
        <intercept-url pattern="/manager" access="hasAuthority('manager')"/>
        <intercept-url pattern="/user" access="hasAuthority('user')"/>

        <form-login
            login-page="/login.jsp"
            default-target-url="/views/pages/homepage.jsp"
            authentication-failure-url="/login.jsp?error=true"
            always-use-default-target="true"/>

        <logout logout-success-url="/login.jsp"/>

        <csrf/>
    </http>

    <authentication-manager>
        <authentication-provider ref="provider"/>
    </authentication-manager>

</beans:beans>